<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.DATE" | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element["Fecha"]}} </td>
  </ng-container>

  <!-- Comunidad Column -->
  <ng-container matColumnDef="comunidad">
    <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.COMUNIDAD" | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element["CCAA Codigo ISO"]}} </td>
  </ng-container>

  <!-- Cases Column -->
  <ng-container matColumnDef="cases">
    <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.CASES" | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element["Casos "]}} </td>
  </ng-container>

  <!-- Hospital Column -->
  <ng-container matColumnDef="hospital">
    <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.HOSPITAL" | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element["Hospitalizados"]}} </td>
  </ng-container>

  <!-- Critical Column -->
  <ng-container matColumnDef="critical">
    <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.CRITICAL" | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element["UCI"]}} </td>
  </ng-container>

  <!-- Deceased Column -->
  <ng-container matColumnDef="deceased">
    <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.DECEASED" | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element["Fallecidos"]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="charts">
  <div class="info-representation">
    <p>{{ "DASHBOARD.REPRESENT" | translate }}:</p>
    <mat-chip-list>
      <mat-chip (click)="select('Casos ')" [selected]="isTotalSelected">{{ "SPAIN.CASES" | translate }}
      </mat-chip>
      <mat-chip (click)="select('Hospitalizados')" [selected]="isActiveSelected">{{ "SPAIN.HOSPITAL" | translate }}
      </mat-chip>
      <mat-chip (click)="select('UCI')" [selected]="isCriticalSelected">{{ "SPAIN.CRITICAL" | translate }}
      </mat-chip>
      <mat-chip (click)="select('Fallecidos')" [selected]="isDeceasedSelected">{{ "SPAIN.DECEASED" | translate }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="type-of-chart">
    <div>
      <p>{{ "DASHBOARD.CHART_TYPE" | translate }}:</p>
      <mat-chip-list>
        <mat-chip (click)="selectChart('bar')" [selected]="isBarSelected">{{ "DASHBOARD.BAR" | translate }}
        </mat-chip>
        <mat-chip (click)="selectChart('pie')" [selected]="isPieSelected">{{ "DASHBOARD.PIE" | translate }}
        </mat-chip>
        <mat-chip (click)="selectChart('gauge')" [selected]="isGaugeSelected">{{ "DASHBOARD.GAUGE" | translate }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="charts-detail" *ngIf="chart === 'bar'">
    <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="barChart.data" [showDataLabel]="barChart.showDataLabel"
      [xAxis]="barChart.showXAxis" [yAxis]="responsiveType !== 'mobile' ? barChart.showYAxis : ''"
      (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-bar-vertical>
  </div>
  <div class="charts-detail" *ngIf="chart === 'pie'">
    <ngx-charts-pie-chart [scheme]="colorScheme" [results]="pieChart.data" [labels]="pieChart.showLabels"
      [doughnut]="pieChart.isDoughnut" (select)="onSelect($event)" (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)">
    </ngx-charts-pie-chart>
  </div>
  <div class="charts-detail" *ngIf="chart === 'gauge'">
    <ngx-charts-gauge [scheme]="colorScheme" [results]="gaugeChart.data" (select)="onSelect($event)"
      (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-gauge>
  </div>
</div>

<div class="section-data">
  <ngx-charts-line-chart [scheme]="colorScheme"
    [showXAxisLabel]="responsiveType !== 'mobile' ? 'lineChart.showXAxisLabel' : ''"
    [showYAxisLabel]="responsiveType !== 'mobile' ? lineChart.showYAxisLabel : ''" [xAxis]="lineChart.xAxis"
    [yAxis]="responsiveType !== 'mobile' && responsiveType !== 'tablet-sm' ? lineChart.yAxis : ''"
    xAxisLabel="{{ 'COUNTRIES.DATE' | translate }}" yAxisLabel="{{ 'COUNTRIES.PEOPLE' | translate }}"
    [timeline]="lineChart.timeline" [results]="lineChart.data" (select)="onSelect($event)"
    (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-line-chart>
</div>
<!-- <div class="global-map">
  <google-chart *ngIf="isLoaded" [type]="'GeoChart'" [data]="mapData" [options]="mapOptions" style="width: 100%;">
  </google-chart>
</div> -->