<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.DATE" | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element["Fecha"]}} </td>
    </ng-container>

    <!-- Comunidad Column -->
    <ng-container matColumnDef="comunidad">
        <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.COMUNIDAD" | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element["CCAA Codigo ISO"]}} </td>
    </ng-container>

    <!-- Cases Column -->
    <ng-container matColumnDef="cases">
        <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.CASES" | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element["Casos "]}} </td>
    </ng-container>

    <!-- Hospital Column -->
    <ng-container matColumnDef="hospital">
        <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.HOSPITAL" | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element["Hospitalizados"]}} </td>
    </ng-container>

    <!-- Critical Column -->
    <ng-container matColumnDef="critical">
        <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.CRITICAL" | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element["UCI"]}} </td>
    </ng-container>

    <!-- Deceased Column -->
    <ng-container matColumnDef="deceased">
        <th mat-header-cell *matHeaderCellDef> {{ "SPAIN.DECEASED" | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element["Fallecidos"]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>