<div class="about-container">
  <div class="section-title">
    <h1>
      {{ "ABOUT.WHO" | translate }}
    </h1>
    <span class="about-tagline">{{ "ABOUT.TAGLINE" | translate }}</span>
  </div>
  <div class="about-team">
    <div class="about-team-guille">
      <img src="../../assets/img/guille.svg" />
      <h3>Guillermo Vigil</h3>
      <p>{{ "ABOUT.GUILLE_TITLE" | translate }}</p>
      <div>
        <p>@guilermovigil</p> 
        <a href="https://twitter.com/guillermovigil"><img src="../../assets/img/twitter.svg"/></a>
        <a href="https://www.linkedin.com/in/rimrafguillermotti"><img src="../../assets/img/linkedin.svg"/></a>
      </div>
    </div>
    <div class="about-team-alex">
      <img src="../../assets/img/alex.svg" />
      <h3>Alejandro Albuerne</h3>
      <p>{{ "ABOUT.ALEX_TITLE" | translate }}</p>
      <div>
        <p>@alexalbuerne </p>
        <a href="https://twitter.com/alexalbuerne"><img src="../../assets/img/twitter.svg"/></a>
        <a href="https://www.linkedin.com/in/aalbuerne/"><img src="../../assets/img/linkedin.svg"/></a>
      </div>
    </div>
  </div>
</div>
