<div class="general-info">
  <div class="section-title">
    <h1>
      {{ "COUNTRIES.COUNTRY_INFO" | translate }}
    </h1>
    <span class="last-update"
      >{{ "DASHBOARD.LAST_UPDATE" | translate }}:
      {{ updated | date: "full":"":language }}</span
    >
  </div>
  <div class="filter-container">
    <div>
      <span>{{ "COUNTRIES.FIRST" | translate }}</span>
      <mat-form-field class="autocomplete-country" floatLabel="never">
        <input
          type="text"
          placeholder="{{ 'COUNTRIES.SELECT' | translate }}"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selectCountry($event.option.value)"
        >
          <mat-option
            *ngFor="let item of filteredOptions | async"
            [value]="item.country"
          >
            {{ item.country }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <span>{{ "COUNTRIES.SECOND" | translate }}</span>
      <mat-form-field class="example-full-width" floatLabel="never">
        <mat-label>{{ "COUNTRIES.DATE" | translate }}</mat-label>
        <input
          matInput
          [min]="minDate1"
          [max]="maxDate1"
          [matDatepicker]="picker1"
          [disabled]="!countrySelected"
          [(ngModel)]="date1"
          (dateChange)="selectDate('first')"
        />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <span>{{ "COUNTRIES.THIRD" | translate }}</span>
      <mat-form-field class="example-full-width" floatLabel="never">
        <mat-label>{{ "COUNTRIES.DATE" | translate }}</mat-label>
        <input
          matInput
          [min]="minDate2"
          [max]="maxDate2"
          [matDatepicker]="picker2"
          [disabled]="!countrySelected || !date1"
          [(ngModel)]="date2"
          (dateChange)="selectDate('second')"
        />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="detailed_information">
  <div *ngIf="countrySelected" class="section-info">
    <div>
      <h2>
        {{ countrySelected.cases | number: "":language }}
      </h2>
      <h3>
        {{ "DASHBOARD.TOTAL" | translate }}
      </h3>
    </div>
    <div>
      <h2>
        {{ countrySelected.critical | number: "":language }}
      </h2>
      <h3>
        {{ "DASHBOARD.CRITICAL" | translate }}
      </h3>
    </div>
    <div>
      <h2>
        {{ countrySelected.deaths | number: "":language }}
      </h2>
      <h3>
        {{ "DASHBOARD.DECEASED" | translate }}
      </h3>
    </div>
    <div>
      <h2>
        {{ countrySelected.recovered | number: "":language }}
      </h2>
      <h3>
        {{ "DASHBOARD.RECOVERED" | translate }}
      </h3>
    </div>
  </div>
  <div class="section-data" *ngIf="countrySelected">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [showXAxisLabel]="responsiveType !== 'mobile' ? 'lineChart.showXAxisLabel' : ''"
      [showYAxisLabel]="responsiveType !== 'mobile' ? lineChart.showYAxisLabel : ''"
      [xAxis]="lineChart.xAxis"
      [yAxis]="responsiveType !== 'mobile' ? lineChart.yAxis : ''"
      xAxisLabel="{{ 'COUNTRIES.DATE' | translate }}"
      yAxisLabel="{{ 'COUNTRIES.PEOPLE' | translate }}"
      [timeline]="lineChart.timeline"
      [results]="lineChart.data"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>
</div>
