<header>
  <div *ngIf="
      responsiveType === 'mobile' ||
      responsiveType === 'tablet-sm' ||
      responsiveType === 'tablet'" class="responsive-menu-icon">
    <img src="assets/img/menu.svg" (click)="showMenu()" />
  </div>
  <div>
    <img src="assets/img/covid_logo.svg" (click)="navigateTo('index')" />
    <div *ngIf="
        responsiveType !== 'mobile' &&
        responsiveType !== 'tablet-sm' &&
        responsiveType !== 'tablet'" class="menu-links">
      <!-- <span (click)="navigateTo('information')">{{ "HEADER.INFO" | translate }}</span> -->
      <span (click)="navigateTo('countries')">{{
        "HEADER.COUNTRIES" | translate
      }}</span>
      <span (click)="navigateTo('map')">{{ "HEADER.MAP" | translate }}</span>
      <span (click)="navigateTo('about')">{{
        "HEADER.ABOUT" | translate
      }}</span>
    </div>
  </div>
  <div>
    <div *ngIf="responsiveType !== 'mobile'" class="language">
      <!-- <img src="assets/img/world.svg" /><span>{{ language | uppercase }}</span> -->
      <mat-form-field>
        <span class="language-flag flag-{{language}}"></span>
        <mat-label>{{ "DASHBOARD.LANGUAGE" | translate }}</mat-label>
        <mat-select [(ngModel)]="language" (selectionChange)="changeLanguage($event)">
          <mat-option *ngFor="let item of languages; index as i" [value]="item.language">
            {{ item.language }} <img src="assets/img/{{item.flag}}" />
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <img class="github" src="assets/img/github.svg" (click)="navigateTo('github')"
      *ngIf="responsiveType !== 'mobile' && responsiveType !== 'tablet-sm'" />
  </div>
</header>
<button (click)="navigateTo('kofi')" class="kofibutton">
  <img src="https://ko-fi.com/img/cup-border.png" class="kofiimg" />
  <span *ngIf="responsiveType !== 'mobile'">{{
    "HEADER.BUY_COFFEE" | translate
  }}</span>
</button>
<div *ngIf="responsiveType === 'mobile' || responsiveType === 'tablet-sm'" [class]="responsiveMenu"
  class="responsiveMenu">
  <div class="menu-links">
    <span class="menu-links-title">{{ "HEADER.MENU" | translate }}</span>
    <span (click)="showMenu()" (click)="navigateTo('dashboard')">{{
      "HEADER.HOME" | translate
    }}</span>
    <span (click)="showMenu()" (click)="navigateTo('countries')">{{
      "HEADER.COUNTRIES" | translate
    }}</span>
    <span (click)="showMenu()" (click)="navigateTo('map')">{{
      "HEADER.MAP" | translate
    }}</span>
    <span (click)="showMenu()" (click)="navigateTo('about')">{{
      "HEADER.ABOUT" | translate
    }}</span>
  </div>
  <span (click)="showMenu()" class="responsive-close-icon"><img src="assets/img/x.svg" /></span>
</div>
<div *ngIf="responsiveType === 'mobile' || responsiveType === 'tablet-sm'" [class]="responsiveMenu" class="overlay"
  (click)="showMenu()"></div>
<router-outlet (activate)="onActivate()"></router-outlet>
<footer></footer>