<div class="search">
  <mat-form-field class="input-search" appearance="fill" floatLabel="never">
    <img src="assets/img/md-search.svg" matPrefix placeholder="label" />
    <input matInput placeholder="{{ 'DASHBOARD.SEARCH' | translate }}" />
  </mat-form-field>
</div>

<div class="general-info">
  <div class="section-title">
    <h1>
      {{ "DASHBOARD.GENERAL_INFO" | translate }}
    </h1>
    <span class="last-update"
      >{{ "DASHBOARD.LAST_UPDATE" | translate }}:
      {{ updated | date: "full":"":language }}</span
    >
  </div>
  <div div class="section-info">
    <div>
      <h2>
        {{ total_confirmed | number: "":language }}
      </h2>
      <img src="../../assets/img/virus.svg">
      <h3>
        {{ "DASHBOARD.TOTAL" | translate }}
      </h3>
    </div>
    <div>
      <h2>
        {{ total_deceased | number: "":language }}
      </h2>
      <img src="../../assets/img/virus.svg">
      <h3>
        {{ "DASHBOARD.DECEASED" | translate }}
      </h3>
    </div>
    <div>
      <h2>
        {{ total_recovered | number: "":language }}
      </h2>
      <img src="../../assets/img/virus.svg">
      <h3>
        {{ "DASHBOARD.RECOVERED" | translate }}
      </h3>
    </div>
  </div>
</div>
<div class="countries-info">
  <div class="countries-info-table">
    <div class="section-title">
      <h1>
        {{ "DASHBOARD.INFECTED" | translate }}
      </h1>
    </div>
    <div class="table">
      <mat-form-field>
        <mat-label>{{ "DASHBOARD.SEARCH_TABLE" | translate }}</mat-label>
        <input matInput (keyup)="applyFilter($event)" />
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.COUNTRY" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.country }}</td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="confirmed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.TOTAL" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.cases | number: "":language }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="deceased">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.DECEASED" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.deaths | number: "":language }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.ACTIVE" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.active | number: "":language }}
            </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="recovered">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.RECOVERED" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.recovered | number: "":language }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  <div class="countries-info-chart">
    <div class="section-title">
      <h1>
        {{ "DASHBOARD.PROGRESSION" | translate }}
      </h1>
    </div>
    <div class="charts">
      <div>
        <p>{{ "DASHBOARD.REPRESENT" | translate }}: </p>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>{{ "DASHBOARD.TOTAL" | translate }}</mat-chip>
          <mat-chip>{{ "DASHBOARD.DECEASED" | translate }}</mat-chip>
          <mat-chip selected>{{ "DASHBOARD.ACTIVE" | translate }}</mat-chip>
          <mat-chip>{{ "DASHBOARD.RECOVERED" | translate }}</mat-chip>
        </mat-chip-list>
      </div>
      <div>
        <ngx-charts-bar-horizontal
          [view]="horizontalBarChart1.view"
          [scheme]="horizontalBarChart1.colorScheme"
          [results]="horizontalBarChart1.data"
          [gradient]="horizontalBarChart1.gradient"
          [xAxis]="horizontalBarChart1.showXAxis"
          [yAxis]="horizontalBarChart1.showYAxis"
          [showXAxisLabel]="horizontalBarChart1.showXAxisLabel"
          [xAxisLabel]="horizontalBarChart1.xAxisLabel"
          [yAxisLabel]="horizontalBarChart1.yAxisLabel"
          [barPadding]="54"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-bar-horizontal>
      </div>
      <div>
        <ngx-charts-bar-horizontal
          [view]="horizontalBarChart2.view"
          [scheme]="horizontalBarChart2.colorScheme"
          [results]="horizontalBarChart2.data"
          [gradient]="horizontalBarChart2.gradient"
          [xAxis]="horizontalBarChart2.showXAxis"
          [yAxis]="horizontalBarChart2.showYAxis"
          [showXAxisLabel]="horizontalBarChart2.showXAxisLabel"
          [xAxisLabel]="horizontalBarChart2.xAxisLabel"
          [yAxisLabel]="horizontalBarChart2.yAxisLabel"
          [barPadding]="60"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-bar-horizontal>
      </div>
    </div>
  </div>
</div>
