<div class="search">
  <mat-form-field class="input-search" appearance="fill" floatLabel="never">
    <img src="assets/img/md-search.svg" matPrefix placeholder="label" />
    <input matInput placeholder="{{ 'DASHBOARD.SEARCH' | translate }}" />
  </mat-form-field>
</div>

<div class="general-info">
  <div class="section-title">
    <h1>
      {{ "DASHBOARD.GENERAL_INFO" | translate }}
    </h1>
    <span class="last-update">{{ "DASHBOARD.LAST_UPDATE" | translate }}:
      {{ updated | date: "full":"":language }}</span>
  </div>
  <div div class="section-info">
    <div>
      <h2>
        {{ total_confirmed | number: "":language }}
      </h2>
      <img src="../../assets/img/virus.svg" />
      <h3>
        {{ "DASHBOARD.TOTAL" | translate }}
      </h3>
    </div>
    <div>
      <h2>
        {{ total_deceased | number: "":language }}
      </h2>
      <img src="../../assets/img/deceased.svg" style="width:38px;" />
      <h3>
        {{ "DASHBOARD.DECEASED" | translate }}
      </h3>
    </div>
    <div>
      <h2>
        {{ total_recovered | number: "":language }}
      </h2>
      <img src="../../assets/img/recovered.svg" />
      <h3>
        {{ "DASHBOARD.RECOVERED" | translate }}
      </h3>
    </div>
  </div>
</div>
<div class="countries-info">
  <div class="countries-info-table">
    <div class="section-title">
      <h1>
        {{ "DASHBOARD.INFECTED" | translate }}
      </h1>
    </div>
    <div class="table">
      <mat-form-field>
        <mat-label>{{ "DASHBOARD.SEARCH_TABLE" | translate }}</mat-label>
        <input matInput (keyup)="applyFilter($event)" />
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Country Column -->
          <ng-container matColumnDef="country" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.COUNTRY" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.country }}</td>
          </ng-container>

          <!-- Confirmed Column -->
          <ng-container matColumnDef="confirmed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.TOTAL" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.cases | number: "":language }}
            </td>
          </ng-container>

          <!-- Deceased Column -->
          <ng-container matColumnDef="deceased">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.DECEASED" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.deaths | number: "":language }}
            </td>
          </ng-container>

          <!-- Active Column -->
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.ACTIVE" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.active | number: "":language }}
            </td>
          </ng-container>

          <!-- Recovered Column -->
          <ng-container matColumnDef="recovered">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "DASHBOARD.RECOVERED" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.recovered | number: "":language }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  <div class="countries-info-chart">
    <div class="section-title">
      <h1>
        {{ "DASHBOARD.PROGRESSION" | translate }}
      </h1>
      <p>{{ "DASHBOARD.CHARTDESCRIPTION" | translate }}</p>
    </div>
    <div class="charts">
      <div class="info-representation">
        <p>{{ "DASHBOARD.REPRESENT" | translate }}:</p>
        <mat-chip-list>
          <mat-chip (click)="select('cases')" [selected]="isTotalSelected">{{ "DASHBOARD.TOTAL" | translate }}
          </mat-chip>
          <mat-chip (click)="select('deaths')" [selected]="isDeceasedSelected">{{ "DASHBOARD.DECEASED" | translate }}
          </mat-chip>
          <mat-chip (click)="select('active')" [selected]="isActiveSelected">{{ "DASHBOARD.ACTIVE" | translate }}
          </mat-chip>
          <mat-chip (click)="select('recovered')" [selected]="isRecoveredSelected">
            {{ "DASHBOARD.RECOVERED" | translate }}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="type-of-chart">
        <div>
          <p>{{ "DASHBOARD.CHART_TYPE" | translate }}:</p>
          <mat-chip-list>
            <mat-chip (click)="selectChart('bar')" [selected]="isBarSelected">{{ "DASHBOARD.BAR" | translate }}
            </mat-chip>
            <mat-chip (click)="selectChart('pie')" [selected]="isPieSelected">{{ "DASHBOARD.PIE" | translate }}
            </mat-chip>
            <mat-chip (click)="selectChart('gauge')" [selected]="isGaugeSelected">{{ "DASHBOARD.GAUGE" | translate }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <mat-form-field>
        <mat-label>{{ "DASHBOARD.AMOUNT" | translate }}</mat-label>
        <mat-select [(ngModel)]="selected" (selectionChange)="changeChart($event)">
          <mat-option *ngFor="let number of chartNumberItems; index as i" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="charts-detail" *ngIf="chart === 'bar'">
        <ngx-charts-bar-horizontal [scheme]="colorScheme" [results]="horizontalBarChart.data"
          [showDataLabel]="horizontalBarChart.showDataLabel" [xAxis]="horizontalBarChart.showXAxis"
          [yAxis]="horizontalBarChart.showYAxis" [showXAxisLabel]="horizontalBarChart.showXAxisLabel"
          xAxisLabel="{{ 'DASHBOARD.PERSON' | translate }}" (select)="onSelect($event)" (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)">
        </ngx-charts-bar-horizontal>
      </div>
      <div class="charts-detail" *ngIf="chart === 'pie'">
        <ngx-charts-pie-chart [scheme]="colorScheme" [results]="pieChart.data" [labels]="pieChart.showLabels"
          [doughnut]="pieChart.isDoughnut" (select)="onSelect($event)" (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)">
        </ngx-charts-pie-chart>
      </div>
      <div class="charts-detail" *ngIf="chart === 'gauge'">
        <ngx-charts-gauge [scheme]="colorScheme" [results]="gaugeChart.data" (select)="onSelect($event)"
          (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-gauge>
      </div>
    </div>
  </div>
</div>