<div class="search">
    <mat-form-field class="input-search" appearance="fill" floatLabel="never">
        <img src="assets/img/md-search.svg" matPrefix placeholder="label"/>
        <input matInput placeholder='{{ "DASHBOARD.SEARCH" | translate }}'>
    </mat-form-field>
</div>

<div class="general-info">
    <div class="section-title">
        <h1>
            {{ "DASHBOARD.GENERAL_INFO" | translate }}
        </h1>
        <span class="last-update">{{ "DASHBOARD.LAST_UPDATE" | translate }}: {{updated | date:'full'}}</span>
    </div>
    <div div class="section-info">
        <div>
            <h2>
                {{total}}
            </h2>
            <h3>
                {{ "DASHBOARD.TOTAL" | translate }}
            </h3>
        </div>
        <div>
            <h2>
                {{deceased}}
            </h2>
            <h3>
                {{ "DASHBOARD.DECEASED" | translate }}
            </h3>
        </div>
        <div>
            <h2>
                {{recovered}}
            </h2>
            <h3>
                {{ "DASHBOARD.RECOVERED" | translate }}
            </h3>
        </div>
    </div>
</div>
<div class="countries-info">
    <div class="countries-info-table">
        <div class="section-title">
            <h1>
                {{ "DASHBOARD.INFECTED" | translate }}
            </h1>
        </div>
    </div>
    <div class="countries-info-chart">
        <div class="section-title">
            <h1>
                {{ "DASHBOARD.PROGRESSION" | translate }}
            </h1>
        </div>
    </div>
</div>