// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
$custom-typography: mat-typography-config(
  $font-family: "Inter",
  $headline: mat-typography-level(34px, 40px, 600),
  $title: mat-typography-level(45px, 55px, 500),
  $subheading-2: mat-typography-level(26px, 31px, 300)
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$covid-primary: mat-palette($mat-indigo);
$covid-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$covid-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$covid-theme: mat-light-theme($covid-primary, $covid-accent, $covid-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($covid-theme);

/* Breakpoints */
$mat-xs: "max-width: 599px";
$mat-sm: "screen and (min-width: 600px) and (max-width: 959px)";
$mat-md: "screen and (min-width: 960px) and (max-width: 1279px)";
$mat-lg: "screen and (min-width: 1280px) and (max-width: 1919px)";
$mat-xl: "screen and (min-width: 1920px) and (max-width: 5000px)";
$mat-lt-sm: "screen and (max-width: 599px)";
$mat-lt-md: "screen and (max-width: 959px)";
$mat-lt-lg: "screen and (max-width: 1279px)";
$mat-lt-xl: "screen and (max-width: 1919px)";
$mat-gt-xs: "screen and (min-width: 600px)";
$mat-gt-sm: "screen and (min-width: 960px)";
$mat-gt-md: "screen and (min-width: 1280px)";
$mat-gt-xl: "screen and (min-width: 1920px)";

/* You can add global styles to this file, and also import other style files */
@import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
}

body * {
  font-family: Inter;
}

header {
  height: 52px;
  display: flex;
  background-color: #212121;
  padding: 0 7.3%;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: flex;
  }

  img {
    cursor: pointer;
  }

  .menu-links {
    margin-left: 76px;
    display: flex;
    align-items: center;
    span {
      text-transform: uppercase;
      color: #f5f5f5;
      font-size: 16px;
      font-weight: 500;
      margin: 0 24px;
      cursor: pointer;
    }
  }

  img.github {
    width: 32px;
  }
}

app-dashboard,
app-information,
app-countries,
app-about {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 7.3%;
}

app-dashboard {
  div.search {
    width: 100%;
    display: flex;
    mat-form-field {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      div.mat-form-field-flex {
        align-items: center;
        padding: 0 0.75em;
        border-radius: 8px !important;
        color: #818181;

        div.mat-form-field-prefix {
          display: flex;
          img {
            width: 16px;
          }
        }
      }
      div.mat-form-field-underline {
        display: none;
      }
      div.mat-form-field-infix {
        margin-left: 10px;
        border-top: 8px solid transparent;
      }
    }
  }
  div.general-info {
    width: 100%;
    margin-top: 54px;
    margin-bottom: 84px;
    div.section-title {
      margin-bottom: 40px;
      h1 {
        color: #212121;
        font-size: 34px;
        letter-spacing: 0.24px;
        margin-bottom: 6px;
      }
      span.last-update {
        color: #818181;
        font-size: 16px;
      }
    }
    div.section-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      & > div {
        width: calc(100% / 3 - 10.67px);
        height: 200px;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        padding: 32px 26px;
        box-sizing: border-box;
        position: relative;
        &:nth-child(1) {
          background-color: #a3aabb;
        }
        &:nth-child(2) {
          background-color: #20212d;
        }
        &:nth-child(3) {
          background-color: #3987fb;
        }
        h2 {
          color: #f5f5f5;
          font-size: 46px;
          margin-bottom: 10px;
        }
        h3 {
          color: #f5f5f5;
          font-size: 26px;
          font-weight: 300;
        }
        img {
          position: absolute;
          right: 26px;
          width: 40px;
        }
      }
    }
  }
  div.countries-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > div {
      width: calc(50% - 4%);
      h1 {
        width: 51%;
        font-size: 30px;
      }

      &.countries-info-table {
        div.table {
          table {
            width: 100%;
            button.mat-sort-header-button {
              font-size: 17px;
              color: #212121;
            }
            tbody tr {
              &:hover {
                cursor: pointer;
              }

              td {
                font-size: 15px;
                color: #818181;
                font-weight: 300;

                &:first-of-type {
                  color: #3987fb;
                  font-weight: 500;
                }
              }
            }
          }
          & > mat-form-field {
            width: calc(100% - 48px);
            margin: 36px 24px;
          }
          & > div {
            box-shadow: none;
          }
          mat-form-field {
            font-size: 16px;
          }
        }
      }

      &.countries-info-chart {
        div.charts {
          display: flex;
          flex-direction: column;
          margin-top: 86px;
          margin-left: -34px;
          & > div {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

footer {
}

@media ($mat-xs) {
  header {
    span {
      display: none;
    }
  }
  app-dashboard {
    div.general-info {
      div.section-title {
        h1 {
          font-size: 24px;
        }
        span.last-update {
          font-size: 12px;
          font-weight: 400;
          width: 64%;
          display: inline-flex;
        }
      }
      div.section-info {
        flex-wrap: wrap;
        & > div {
          width: 100%;
          height: 92px;
          margin-bottom: 12px;
          padding: 12px 14px;
          flex-direction: column-reverse;
          justify-content: space-between;
          position: relative;
          h2 {
            font-size: 43px;
            font-weight: 300;
            margin-bottom: 0;
            line-height: 33px;
            text-align: right;
          }
          h3 {
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            margin: 0;
          }
        }
      }
    }
    div.countries-info {
      flex-wrap: wrap;
      & > div {
        width: 100%;
        h1 {
          width: 100%;
          font-size: 24px;
          line-height: 26px;
        }
      }
    }
  }
}
