// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
$custom-typography: mat-typography-config(
  $font-family: "Inter",
  $headline: mat-typography-level(34px, 40px, 600),
  $title: mat-typography-level(45px, 55px, 500),
  $subheading-2: mat-typography-level(26px, 31px, 300)
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

$mat-primary: (
  50: #e4e4e4,
  100: #bcbcbc,
  200: #909090,
  300: #646464,
  400: #424242,
  500: #212121,
  600: #1d1d1d,
  700: #181818,
  800: #141414,
  900: #0b0b0b,
  A100: #e76c6c,
  A200: #e04040,
  A400: #ec0000,
  A700: #d30000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$mat-secondary: (
  50: #fefefe,
  100: #fcfcfc,
  200: #fafafa,
  300: #f8f8f8,
  400: #f7f7f7,
  500: #f5f5f5,
  600: #f4f4f4,
  700: #f2f2f2,
  800: #f0f0f0,
  900: #eeeeee,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$covid-primary: mat-palette($mat-primary);
$covid-accent: mat-palette($mat-secondary, A200, A100, A400);

// The warn palette is optional (defaults to red).
$covid-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$covid-theme: mat-light-theme($covid-primary, $covid-accent, $covid-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($covid-theme);

/* Breakpoints */
$mat-xs: "max-width: 599px";
$mat-sm: "min-width: 600px) and (max-width: 959px";
$mat-md: "min-width: 960px) and (max-width: 1279px";
$mat-lg: "screen and (min-width: 1280px) and (max-width: 1919px)";
$mat-xl: "screen and (min-width: 1920px) and (max-width: 5000px)";
$mat-lt-sm: "screen and (max-width: 599px)";
$mat-lt-md: "screen and (max-width: 959px)";
$mat-lt-lg: "screen and (max-width: 1279px)";
$mat-lt-xl: "screen and (max-width: 1919px)";
$mat-gt-xs: "screen and (min-width: 600px)";
$mat-gt-sm: "screen and (min-width: 960px)";
$mat-gt-md: "screen and (min-width: 1280px)";
$mat-gt-xl: "screen and (min-width: 1920px)";

/* You can add global styles to this file, and also import other style files */
@import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body {
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
  app-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh + 200px);
    height: 100%;
    button.kofibutton {
      height: 48px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img.kofiimg {
        width: 24px;
      }
      span {
        margin-left: 4px;
      }
    }
  }
}

body * {
  font-family: Inter;
}

header {
  min-height: 52px;
  height: 52px;
  display: flex;
  background-color: #212121;
  padding: 0 7.3%;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: flex;
  }

  img {
    cursor: pointer;
  }

  .menu-links {
    margin-left: 76px;
    display: flex;
    align-items: center;
    span {
      text-transform: uppercase;
      color: #f5f5f5;
      font-size: 16px;
      font-weight: 400;
      margin: 0 24px;
      cursor: pointer;
    }
  }

  div.language {
    display: inline-flex;
    align-items: center;
    margin-right: 40px;
    color: #f5f5f5;
    mat-form-field {
      width: 60px;
      div.mat-form-field-wrapper {
        padding-bottom: 12px;
      }
    }
    div.mat-select-value {
      color: #f5f5f5;
      text-transform: uppercase;
      font-size: 16px;
    }
    div.mat-select-arrow {
      color: #212121;
    }
    div.mat-form-field-underline {
      display: none;
    }
    span.language-flag {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 15px;
      position: absolute;
      left: 28px;
      bottom: 7.5px;
      display: flex;
      &.flag-en {
        background-image: url(/assets/img/ukFlag.svg);
      }
      &.flag-es {
        background-image: url(/assets/img/spainFlag.svg);
      }
    }
  }

  img.github {
    width: 32px;
  }
}

div.language-selection {
  mat-option {
    span.mat-option-text {
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      img {
        width: 20px;
        height: 15px;
        margin-left: 6px;
      }
    }
  }
}

div.responsiveMenu {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  padding: 40px;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: #212121;
  color: #f5f5f5;
  transition-property: transform, opacity;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  &.shown {
    transform: translateX(0px);
    opacity: 1;
  }
  &.hidden {
    transform: translateX(-100vw);
    opacity: 0.96;
  }
  span.responsive-close-icon {
    position: absolute;
    top: 36px;
    right: 40px;
  }
  div.menu-links {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    span {
      margin-bottom: 16px;
      &.menu-links-title {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 200;
        margin-bottom: 32px;
      }
    }
  }
  div.language {
    display: inline-flex;
    align-items: center;
    margin-right: 40px;
    margin-top: 60px;
    color: #f5f5f5;
    mat-form-field {
      width: 60px;
      div.mat-form-field-wrapper {
        padding-bottom: 12px;
      }
    }
    div.mat-select-value {
      color: #f5f5f5;
      text-transform: uppercase;
      font-size: 16px;
    }
    div.mat-select-arrow {
      color: #212121;
    }
    div.mat-form-field-underline {
      display: none;
    }
    span.language-flag {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 15px;
      position: absolute;
      left: 28px;
      bottom: 7.5px;
      display: flex;
      &.flag-en {
        background-image: url(/assets/img/ukFlag.svg);
      }
      &.flag-es {
        background-image: url(/assets/img/spainFlag.svg);
      }
    }
  }
}

div.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 800;
  background-color: #212121;
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.64s;
  transition-timing-function: ease-in-out;
  &.shown {
    opacity: 0.6;
  }
  &.hidden {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

header + button {
  border-style: none;
  padding: 10px 14px;
  background-color: #ff813f;
  display: inline-flex;
  align-items: center;
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 12px;
  color: #fff;
  z-index: 500;
  max-width: 140px;
  border-radius: 6px;
  cursor: pointer;
}

app-dashboard,
app-information,
app-countries,
app-about,
app-map {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 40px 7.3%;
}

app-dashboard {
  div.search {
    width: 100%;
    display: flex;
    mat-form-field {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      div.mat-form-field-flex {
        align-items: center;
        padding: 0 0.75em;
        border-radius: 8px !important;
        color: #818181;

        div.mat-form-field-prefix {
          display: flex;
          img {
            width: 16px;
          }
        }
      }
      div.mat-form-field-underline {
        display: none;
      }
      div.mat-form-field-infix {
        margin-left: 10px;
        border-top: 8px solid transparent;
      }
    }
  }
  div.general-info {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 84px;
    div.section-title {
      margin-bottom: 40px;
      h1 {
        color: #212121;
        font-size: 34px;
        letter-spacing: 0.24px;
        margin-bottom: 6px;
      }
      span.last-update {
        color: #818181;
        font-size: 16px;
      }
    }
    div.section-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      & > div {
        width: calc(100% / 4 - 10.67px);
        height: 200px;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        padding: 32px 26px;
        box-sizing: border-box;
        position: relative;
        &:nth-child(1) {
          background-color: #c5d4ec;
          color: #212121;
        }
        &:nth-child(2) {
          background-color: #20212d;
          color: #f5f5f5;
          h2 {
            font-weight: 400;
          }
        }
        &:nth-child(3) {
          background-color: #40486a;
          color: #f5f5f5;
          h2 {
            font-weight: 400;
          }
        }
        &:nth-child(4) {
          background-color: #b7f8df;
          color: #212121;
        }
        h2 {
          font-size: 46px;
          margin-bottom: 10px;
        }
        h3 {
          font-size: 26px;
          font-weight: 300;
        }
        img {
          position: absolute;
          right: 26px;
          width: 40px;
        }
        &.section-info-deceased {
          img {
            width: 38px;
          }
        }
      }
    }
  }
  div.countries-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > div {
      width: calc(50% - 4%);
      h1 {
        width: 51%;
        font-size: 30px;
      }

      &.countries-info-table {
        div.table {
          position: relative;
          & > div {
            overflow: auto;
          }
          table {
            width: 100%;
            button.mat-sort-header-button {
              font-size: 17px;
              color: #212121;
              text-align: left;
            }
            tbody tr {
              &:hover {
                cursor: pointer;
              }

              td {
                font-size: 15px;
                color: #818181;
                font-weight: 300;

                &:first-of-type {
                  max-width: 140px;
                  img {
                    border-radius: 2px;
                    max-width: 25px;
                    width: 24px;
                    height: 16px;
                    object-fit: contain;
                    margin-right: 4px;
                    vertical-align: middle;
                  }
                  span {
                    color: #3987fb;
                    font-weight: 500;
                  }
                }
              }
            }
          }
          & > mat-form-field {
            width: calc(100% - 48px);
            margin: 36px 24px;
          }
          & > div {
            box-shadow: none;
          }
          mat-form-field {
            font-size: 16px;
          }
          mat-paginator {
            position: absolute;
            right: 0;
          }
        }
      }

      &.countries-info-chart {
        .section-title p {
          font-size: 16px;
          margin: 36px 0;
        }
        div.charts {
          width: 100%;
          display: flex;
          flex-direction: column;
          .charts-detail {
            height: 400px;
          }
          & > div {
            margin-bottom: 40px;
            &.info-representation {
              margin-top: 20px;
            }
          }
          & > mat-form-field {
            margin: 36px 24px;
            font-size: 16px;
          }
          mat-chip {
            cursor: pointer;
          }
          mat-chip.mat-chip-selected {
            background-color: #45d99b;
            font-weight: 400;
            letter-spacing: 0.4px;
          }
        }
      }
    }
  }
}

app-about {
  div.about-container {
    width: 100%;
    div.section-title {
      margin-top: 40px;
      margin-bottom: 100px;
      h1 {
        color: #212121;
        font-size: 34px;
        letter-spacing: 0.24px;
        margin-bottom: 6px;
      }
      span {
        color: #818181;
        font-size: 16px;
      }
    }
    div.about-team {
      display: flex;
      & > div {
        &.about-team-guille {
          margin-right: 180px;
          div {
            display: flex;
            align-items: center;
            p {
              margin-right: 12px;
            }
            a img {
              width: 20px;
              margin-right: 12px;
            }
          }
        }
        &.about-team-alex {
          div {
            display: flex;
            align-items: center;
            p {
              margin-right: 12px;
            }
            a img {
              width: 20px;
              margin-right: 12px;
            }
          }
          & > img {
            padding-top: 10px;
          }
        }
        h3 {
          color: #212121;
          font-size: 20px;
          font-weight: 600;
          margin-top: 26px;
          margin-bottom: 6px;
        }
        p {
          margin-bottom: 6px;
          color: #818181;
          font-size: 16px;
        }
      }
    }
  }
}

app-map {
  flex-direction: column;
  div.section-title {
    margin-top: 40px;
    margin-bottom: 100px;
    h1 {
      color: #212121;
      font-size: 34px;
      letter-spacing: 0.24px;
      margin-bottom: 6px;
    }
    span {
      color: #818181;
      font-size: 16px;
    }
  }
  div.section-subtitle {
    margin-bottom: 40px;
    p {
      margin-bottom: 6px;
      color: #818181;
      font-size: 16px;
      width: 60%;
      text-align: justify;
    }
  }
  div.map-chips
    mat-chip-list
    .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #45d99b;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  div.global-map {
    width: 80%;
    padding: 0 10%;
    margin-top: 40px;
    path {
      stroke-width: 0.8px;
      stroke: #fff;
      &:hover,
      &:focus,
      &:active {
        stroke: #f5f5f5;
        fill: #2121216a;
      }
    }
  }
}

app-countries {
  flex-direction: column;
  div.section-title {
    margin-top: 40px;
    margin-bottom: 100px;
    h1 {
      color: #212121;
      font-size: 34px;
      letter-spacing: 0.24px;
      margin-bottom: 6px;
    }
    span {
      color: #818181;
      font-size: 16px;
    }
  }
  div.detailed_information {
    display: flex;
    justify-content: space-between;
    div.section-info {
      width: 16%;
      & > div {
        display: flex;
        flex-direction: column-reverse;
        background-color: #8181811a;
        border-radius: 16px;
        padding: 20px;
        margin-bottom: 20px;
        h2 {
          font-size: 32px;
          font-weight: 400;
          margin-bottom: 0;
          line-height: initial;
        }
        h3 {
          font-size: 18px;
          margin-bottom: 0;
        }
      }
    }
    div.section-data {
      width: 80%;
      g.line-chart {
        height: 100%;
      }
    }
  }

  div.filter-container {
    margin: 20px 0;
    & > div {
      display: inline-flex;
      flex-direction: column;
      mat-form-field {
        font-size: 16px;
        margin-right: 80px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}

div.cdk-overlay-container {
  mat-option {
    span.mat-option-text {
      font-size: 16px;
    }
  }
}

footer {
  height: 240px;
  background-color: #212121;
}

@media only screen and ($mat-md) {
  app-dashboard {
    div.general-info {
      div.section-title {
        margin-bottom: 64px;
        h1 {
          font-size: 32px;
        }
        span {
          font-size: 16px;
        }
      }
      div.section-info {
        & > div {
          height: fit-content;
          h2 {
            font-size: 30px;
            line-height: initial;
          }
          h3 {
            font-size: 18px;
            line-height: initial;
            margin-bottom: 0;
          }
          img {
            width: 32px;
            right: 19px;
            top: 34px;
          }
          &.section-info-deceased img {
            width: 30px;
          }
        }
      }
    }
    div.countries-info {
      flex-wrap: wrap;
      & > div {
        width: calc(100% - 4%);
        h1 {
          font-size: 26px;
          margin-bottom: 0;
        }
        &.countries-info-chart {
          margin-top: 120px;
        }
      }
    }
  }
  app-map {
    div.section-title {
      margin-bottom: 64px;
      h1 {
        font-size: 32px;
      }
      span {
        font-size: 16px;
      }
    }
  }
  app-countries {
    div.general-info {
      div.section-title {
        margin-bottom: 64px;
        h1 {
          font-size: 32px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
  app-about {
    div.general-info {
      div.section-title {
        margin-bottom: 64px;
        h1 {
          font-size: 32px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and ($mat-sm) {
  div.responsiveMenu {
    width: 48vw;
  }
  app-dashboard {
    div.general-info {
      div.section-title {
        margin-top: 24px;
        margin-bottom: 64px;
        h1 {
          font-size: 28px;
        }
        span {
          font-size: 16px;
        }
      }
      div.section-info {
        & > div {
          padding: 19px;
          h2 {
            font-size: 26px;
            line-height: initial;
          }
          h3 {
            font-size: 20px;
            line-height: initial;
          }
          img {
            bottom: 20px;
            left: 19px;
            right: unset;
          }
        }
      }
    }
    div.countries-info {
      flex-wrap: wrap;
      & > div {
        width: calc(100% - 4%);
        h1 {
          font-size: 28px;
        }
        &.countries-info-chart {
          margin-top: 120px;
        }
      }
    }
  }
  app-map {
    div.section-title {
      margin-top: 24px;
      margin-bottom: 64px;
      h1 {
        font-size: 28px;
      }
      span {
        font-size: 16px;
      }
    }
    div.section-subtitle p {
      width: 100%;
    }
  }

  app-countries {
    div.detailed_information {
      flex-direction: column-reverse;
      div.section-data {
        width: 100%;
        height: 520px;
      }
      div.section-info {
        width: 100%;
      }
    }
  }
  header {
    div.language {
      margin-right: 0;
    }
  }
}

@media ($mat-xs) {
  header {
    span {
      display: none;
    }
    & + button {
      right: 16px;
    }
  }
  app-dashboard {
    div.general-info {
      margin-top: 24px;
      margin-bottom: 64px;
      div.section-title {
        h1 {
          font-size: 24px;
        }
        span.last-update {
          font-size: 12px;
          font-weight: 400;
          width: 64%;
          display: inline-flex;
        }
      }
      div.section-info {
        flex-wrap: wrap;
        & > div {
          width: 100%;
          height: 92px;
          margin-bottom: 12px;
          padding: 12px 14px;
          flex-direction: column-reverse;
          justify-content: space-between;
          position: relative;
          &:nth-child(2),
          &:nth-child(3) {
            h2 {
              font-weight: 200;
            }
            h3 {
              font-weight: 400;
            }
          }
          h2 {
            font-size: 43px;
            font-weight: 300;
            margin-bottom: 0;
            line-height: 33px;
            text-align: right;
          }
          h3 {
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            margin: 0;
          }
          img {
            left: 12px;
            bottom: 12px;
            width: 28px;
            right: unset;
          }
          &.section-info-deceased {
            img {
              width: 26px;
            }
          }
        }
      }
    }
    div.countries-info {
      flex-wrap: wrap;
      & > div {
        width: 100%;
        h1 {
          width: 100%;
          font-size: 24px;
          line-height: 26px;
        }
      }
      div.countries-info-table {
        div.table {
          th.mat-header-cell:first-of-type,
          td.mat-cell:first-of-type,
          td.mat-footer-cell:first-of-type {
            padding-left: 0px;
            padding-right: 12px;
          }
          th.mat-header-cell:last-of-type,
          td.mat-cell:last-of-type,
          td.mat-footer-cell:last-of-type {
            padding-right: 0;
          }
          div.mat-paginator-page-size-label {
            display: none;
          }
          & > mat-form-field {
            width: 100%;
            margin: 0 0 36px 0;
          }
        }
      }

      div.countries-info-chart {
        margin-top: 160px;
        div.charts {
          mat-form-field {
            margin: 36px 0;
          }
          div.info-representation,
          div.type-of-chart {
            margin-left: 0;
          }
        }
        div.chart-per-country {
          margin-top: 40px;
          display: flex;
          & > div {
            width: calc(100% / 2 - 8.6px);
            height: 180px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  app-about {
    div.about-container {
      div.section-title {
        margin-top: 24px;
        margin-bottom: 64px;
        h1 {
          font-size: 24px;
        }
        span {
          font-size: 14px;
        }
      }
      div.about-team {
        flex-direction: column;
        align-items: center;
        & > div {
          text-align: center;
          &.about-team-guille {
            margin-right: 0;
            margin-bottom: 60px;
          }
          h3 {
            font-size: 20px;
            margin-top: 26px;
            margin-bottom: 4px;
          }
          p {
            margin-bottom: 4px;
            font-size: 16px;
          }
          & > div {
            justify-content: center;
          }
        }
      }
    }
  }

  app-map {
    div.section-title {
      margin-top: 24px;
      margin-bottom: 64px;
      h1 {
        font-size: 24px;
      }
      span {
        font-size: 14px;
      }
    }
    div.section-subtitle p {
      width: 100%;
    }
    div.global-map {
      width: 114.6%;
      padding: 0;
      margin-left: -7.3%;
      margin-right: -7.3%;
    }
  }

  app-countries {
    div.section-title {
      margin-top: 24px;
      margin-bottom: 64px;
      h1 {
        font-size: 24px;
      }
      span {
        font-size: 14px;
      }
    }
    div.filter-container {
      & > div {
        display: flex;
        margin-bottom: 20px;
        mat-form-field {
          margin-right: 0;
        }
      }
    }
    div.detailed_information {
      flex-direction: column-reverse;
      div.section-data {
        width: 100%;
        height: 400px;
      }
      div.section-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > div {
          width: calc(46% - 40px);
          h3 {
            font-size: 14px;
          }
          h2 {
            font-size: 26px;
          }
        }
      }
    }
  }
}
